name: Deploy DocC
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  build:
    name: Build DocC Documentation
    runs-on: macOS-26
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Swiftly And Swift
        run: |
          curl -L https://download.swift.org/swiftly/darwin/swiftly.pkg > swiftly.pkg
          installer -pkg swiftly.pkg -target CurrentUserHomeDirectory

          ~/.swiftly/bin/swiftly init

          . "$HOME/.swiftly/env.sh"
          hash -r

          swiftly install --use --assume-yes
          swiftly link --assume-yes

          echo "$HOME/.swiftly/bin" >> $GITHUB_PATH
      - name: Swift Version
        run: which swift && swift --version
      - name: Build DocC
        run: |
          swift build
          swift package --allow-writing-to-directory ./docs \
            generate-documentation \
            --enable-experimental-combined-documentation \
            --target BinaryParseKit \
            --target BinaryParseKitCommons \
            --target BinaryParsing \
            --output-path ./docs \
            --transform-for-static-hosting
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs
  deploy:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
